//variables
$base-border: 1px solid gray;
$base-border-radius: 20px;
$base-text-size: 20px;
$base-distance: 1rem;

.general-alignment {
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.text-style {
  font-size: $base-text-size;
  padding-block: $base-distance;
}
.parent-container {
  margin: $base-distance auto;
  border: $base-border;
  border-radius: $base-border-radius;
  padding: $base-distance;
  text-align: center;
  width: 100%;
}
.child-container {
  padding: $base-distance;
  border: $base-border;
  border-radius: $base-border-radius;
}
button {
  padding: 0.5rem;
  border-radius: $base-border-radius;
  margin: $base-distance;
  border: $base-border;
  background-color: lightblue;
  font-size: $base-text-size;
}
.max-width {
  max-width: 500px;
}
.margin-10 {
  margin-inline-end: 10px;
}
